.hearder-evaluate {
    height: 85px;
    background-color: #e9bc82;
    align-items: center;
    padding: 0 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 2px 13px -2px rgb(128 128 128 / 30%);
    .title {
        text-align: center;
        align-self: center;
        font-size: 16px;
        color: white;
        outline: none;
    }
    img {
        outline: none;
    }

    .icon-left {
        text-align: center;
        align-self: center;
    }

    .icon-right {
        text-align: center;
        align-self: center;
    }
}
