.hearder-evaluate {
    height: 85px;
    background-color: #e9bc82;
    .title {
        text-align: center;
        align-self: center;
        font-size: 16px;
        color: white;
    }

    .icon-left {
        text-align: center;
        align-self: center;
    }

    .icon-right {
        text-align: center;
        align-self: center;
    }
}
