<ion-row class="hearder-evaluate">
    <ion-col
        size="2"
        class="icon-left"
    >
        <img
            *ngIf="config?.btnLeft?.show"
            [src]="config?.btnLeft?.icon"
            [routerLink]="config?.btnLeft?.router"
        >
    </ion-col>
    <ion-col
        size="8"
        class="title"
    >
        {{config?.title}}
    </ion-col>

    <ion-col
        size="2"
        class="icon-right"
    >
        <img
            *ngIf="config?.btnRight?.show"
            [src]="config?.btnRight?.icon"
            [routerLink]="config?.btnRight?.router"
        >
    </ion-col>
</ion-row>