<ion-header>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="friends">
      <ion-label>Tất cả</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>Chưa đọc</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>Đã đọc</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content> 
  <ion-list>
    <ion-item>
      
    </ion-item>
  </ion-list>
</ion-content>
