<ion-header>
    <ion-grid>
        <ion-row>
            <ion-col size="3">
            </ion-col>
            <ion-col size="6">
                <h3>Trao đổi</h3>
            </ion-col>
            <ion-col size="3"></ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content>
    <div class="button_message">
        <ion-button class="first" [routerLink]="['list-message']">
            <img src="assets/icon/back.png" alt="" class="back">
            <img class="icon" src="assets/icon/conversation.png" alt=""> Nhắn tin
        </ion-button>

        <ion-button routerLink="evaluate">
            <img src="assets/icon/back.png" alt="" class="back">
            <img class="icon" src="assets/icon/donxin.png" alt=""> Đơn xin nghỉ</ion-button>
    </div>
</ion-content>