<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-back-button
          [style.fontSize.px]="15"
          #back
          defaultHref="/tabs/message"
          [style.color]="'#fff'"
          text=""
          icon="arrow-back-outline"
          >
        </ion-back-button>
      </ion-col>
      <ion-col size="6">
        <h3>Trao đổi</h3>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

@if (curUser | async; as curUser) {
  <ion-content>
    <div class="button_message">
      @if (curUser?.UserProfileId == '2053') {
        <ion-button
          class="first"
          lines="none"
          [routerLink]="['/tabs/message/detail-message','2323']"
          >
          <img src="assets/icon/back.png" alt="" class="back" />
          <img class="icon" src="assets/icon/conversation.png" alt="" /> Nhắn tin
        </ion-button>
      }
      @if (curUser?.UserProfileId == '2323') {
        <ion-button
          class="first"
          lines="none"
          [routerLink]="['/tabs/message/detail-message','2053']"
          >
          <img src="assets/icon/back.png" alt="" class="back" />
          <img class="icon" src="assets/icon/conversation.png" alt="" /> Nhắn tin
        </ion-button>
      }
      <ion-button routerLink="/tabs/message/evaluate">
        <img src="assets/icon/back.png" alt="" class="back" />
        <img class="icon" src="assets/icon/donxin.png" alt="" /> Đơn xin nghỉ
      </ion-button>
    </div>
  </ion-content>
}
