<app-hearder-evaluete [(config)]="configHeader"></app-hearder-evaluete>
<div class="scroll-page">
    <div
        class="item"
        *ngFor="let i of listEvaluate"
        [routerLink]="i.LeaveId"
    >
        <ion-row>
            <ion-col size="6">
                {{i?.CreatedOn | date:'dd/MM/YYYY'}}
            </ion-col>
            <ion-col size="6">
                <div [class]="i.Type === 1 ? 'style-active' : 'style-active2'">
                    {{i?.Type === 1 ? 'Chờ phê duyệt' :'Đã phê duyệt'}}
                </div>
            </ion-col>
            <ion-col size="6">
                Nghỉ từ:
            </ion-col>
            <ion-col size="6">
                {{i?.StartTime | date:'hh:mm dd/MM/YYYY'}}
            </ion-col>
            <ion-col size="6">
                Đến:
            </ion-col>
            <ion-col size="6">
                {{i?.EndTime | date:'hh:mm dd/MM/YYYY'}}
            </ion-col>
            <ion-col size="12">
                Lý do
            </ion-col>
            <ion-col size="12">
                {{i?.Content}}
            </ion-col>
        </ion-row>
    </div>
</div>